<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus productos</ng-template>
    <!--
      Que se suscriba una sola vez solo cuando exista la varibale
      y me cree una varibale products
    -->
    <div *ngIf="(products$ | async) as products">
      <ul>
        <div class="row" *ngFor="let product of products">
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="box">
              <img [src]="product.image" alt="" class="image">
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="box">
              {{ product.title }}
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="box">
              {{ product.price }}
            </div>
          </div>
        </div>
      </ul>
      <p *ngIf="products.length === 0">No hay productos</p>
    </div>
    <!--
      Lo siguiente hace una doble suscripcion  por lo caul es malo en performance
      <ul>
        <li *ngFor="let product of (products$ | async)">
          {{ product.title }}
        </li>
      </ul>
      <p *ngIf="(products$ | async).length === 0">No hay productos</p>
    -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <h1>Contenido</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>Contenido</h1>
  </mat-step>
</mat-horizontal-stepper>