<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input placeholder="Nombre" formControlName="name" matInput type="text" />
            <div class="messages" *ngIf="nameFieldInvalid">
              <mat-error *ngIf="nameField.hasError('required')">
                Este campo es requerido
              </mat-error>
              <mat-error *ngIf="nameField.hasError('minlength')">
                Mínimo debe tener 4 caracteres
              </mat-error>
              <mat-error *ngIf="nameField.hasError('not_available')">
                Ya existe otra categoría con el mismo nombre
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="img-container">
            <img *ngIf="imageField.value" [src]="imageField.value" />
            <div class="input-file">
              <input
                (change)="uploadFile($event)"
                placeholder="Image"
                type="file"
                title="Agregar una imagen"
              />
              <button mat-mini-fab color="accent" aria-label="Subir imagen">
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
            </div>
          </div>
          <div class="messages" *ngIf="imageFieldInvalid">
            <mat-error *ngIf="imageField.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        <span *ngIf="isNew">Crear categoría</span>
        <span *ngIf="!isNew">Actualizar categoría</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>