<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input placeholder="Name" matInput type="text" formControlName="name" />
                </mat-form-field>
                <div *ngIf="nameFieldInvalid">
                    <p *ngIf="nameField.hasError('required')">Este campo es requerido</p>
                    <p *ngIf="priceField.hasError('minlenght')">El nombre debe ser de por lo menos 4 letras</p>
                </div>
            </div>
        </div>
      
          <div class="row">
              <div class="col-xs">
                  <mat-form-field>
                      <input placeholder="Price" matInput type="number" formControlName="price" />
                  </mat-form-field>
                  <!--
                      dirty para saber si el campo ya fue utilizado por el usuario
                  -->
                  <div *ngIf="priceField.errors && priceField.dirty">
                      <p *ngIf="priceField.hasError('price_invalid')">No te debes pasar de 10000</p>
                      <p *ngIf="priceField.hasError('required')">Este campo no es requerido</p>
                  </div>
              </div>
          </div>
      
          <div class="row">
              <div class="col-xs">
                  <mat-form-field>
                      <textarea placeholder="Description" matInput type="text" formControlName="description"></textarea>
                  </mat-form-field>
              </div>
          </div>

          <div class="row">
            <div class="col-xs">
                <mat-form-field>
                  <mat-label>Categories</mat-label>
                  <mat-select formControlName="category_id">
                    <mat-option [value]="category._id" *ngFor="let category of categories">
                        {{ category.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
          <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
      </mat-card-actions>
  </mat-card>
</form>