<p>
  Name: {{ nameField.value }}
  <input type="text" [formControl]="nameField" />
  <button (click)="getNameValue()">Get value</button>
  <!-- Imprimir todo lo que incluye un form control -->
  <!--
  <code>
    <pre>{{ nameField | json }}</pre>
  </code>
  -->
</p>

<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField" />
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField" />
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField" />
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField" />
</p>

<p>
  Age: {{ ageField.value }}
  <input type="number" [formControl]="ageField" />
</p>

<p>
  Url: {{ urlField.value }}
  <input type="url" [formControl]="urlField" />
</p>

<p>
  Range: {{ rangeField.value }}
  <input type="range" [formControl]="rangeField" min="0" max="10"/>
</p>

<p>
  Time: {{ timeField.value }}
  <input type="time" [formControl]="timeField" />
</p>

<p>
  Description: {{ descriptionField.value }}
  <textarea type="time" [formControl]="descriptionField">
  </textarea>
</p>