<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/create">
        <mat-icon>category</mat-icon>
        Crear producto
      </a>
      <a mat-list-item routerLink="/admin/products">
        <mat-icon>store</mat-icon>
        Productos
      </a>
      <a mat-list-item routerLink="/admin/products/create">
        <mat-icon>category</mat-icon>
        Agregar producto
      </a>
      <a mat-list-item routerLink="/admin/categories">
        <mat-icon>category</mat-icon>
        Categoría
      </a>
      <a mat-list-item routerLink="/admin/dates">
        <mat-icon>category</mat-icon>
        Fechas
      </a>
      <a mat-list-item routerLink="/admin/basic">
        <mat-icon>category</mat-icon>
        Basic Form
      </a>
      <a mat-list-item routerLink="/admin/builder">
        <mat-icon>category</mat-icon>
        Form Builder
      </a>
      <a mat-list-item routerLink="/admin/checks">
        <mat-icon>category</mat-icon>
        Checks
      </a>
      <a mat-list-item routerLink="/admin/material">
        <mat-icon>category</mat-icon>
        Material Form
      </a>
      <a mat-list-item routerLink="/admin/grupal-validation">
        <mat-icon>category</mat-icon>
        Grupal Validation
      </a>
      <button mat-list-item (click)="logout()">
        <mat-icon>login</mat-icon>
        Salir
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>platzi-store</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!--
      Se debe agegar el router-outlet para que carge el contenido
    -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
