<form [formGroup]="form" (ngSubmit)="registerUser($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-label>Password</mat-label>
          <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Password" />
            <div *ngIf="isPasswordInvalid">
              <mat-error *ngIf="passwordField.hasError('invalid_password')">Debe tener un numero</mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" placeholder="Password" />
            <div *ngIf="confirmPasswordField.touched && form.errors">
              <mat-error *ngIf="form.hasError('match_password')">No son iguales</mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-radio-group formControlName="type" aria-label="Select an option">
            <mat-radio-button value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input placeholder="company" formControlName="companyName" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit" >Registro</button>
    </mat-card-actions>
  </mat-card>
</form>